@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Sacramento&display=swap');

/*Global font styling (open to change!)*/

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

main {
    font-family: 'Barlow', sans-serif;
    color: #402342;
}

/*Header styling*/

.navbar-brand a {
    font-family: 'Sacramento', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    text-decoration: none;
    color: #402342;
}

.navbar-nav a {
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: #715072;  
}

/* .navbar-brand a:hover {
    color: #402342;
    text-decoration: underline;
} */

.navbar-nav a:hover {
    color: #715072;
    text-decoration: underline;
}

/*Footer styling*/

footer ul {
    text-align:center;
}

footer li {
    list-style-type: none;
    text-decoration: none;
    padding: 15px;
    display: inline;
    
}

footer i {
    color: #715072;
    font-size: 2.5rem;
}

footer i:hover {
    color: #715072;
}

/*Code for sticky footer from CSS Tricks: https://css-tricks.com/couple-takes-sticky-footer/ */

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

/*Gallery styling*/

.gallery-title {
    padding-top: 10px;
}

.gallery-text {
    font-family: 'Sacramento', sans-serif;
}

.gallery-column {
    max-width: 250px;
}

.gallery-column img {
    margin: 10px;
}

/* Styling for Carousel on index page */
.carousel-item > img {
  width: 100%;
  margin: 0;
  height: 70vh!important;
}
.carousel-item {
    height: 70vh;
    width: 100%;
    margin: 0;
}

.carousel-caption {
    position: absolute;
    right: auto!important;
    left: auto!important;
    bottom: -1.75rem!important;
    text-align: left!important;
}

/* Styling for desciptive image on home page */
.aware-img1 {
    /* margin-top: 10px; */
    padding: 0px;
    max-width: 100%;
    padding: 0!important;
}

/* Styling for introduction paragraph on home page */
.intro {
    text-align: center; 
}
#welcome {
    display: flex;
    font-size: xx-large!important;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}
/* Styling for paragraphs on home page */
.p-index {
    margin: 0%;
    background-color: #eef0fa!important;
    font-size: large!important;
}
.index-contain {
    margin-top: 15px;
    margin-bottom: 15px;
}
.p-index-1 {
    margin: 0%;
    font-size: large!important;
}
  
/*Styling for Login and Register pages*/

#register {
    display: flex;
}

.register-heading, .login-heading, .heading {
    text-align: center;
    margin-top: 10px;
    font-size: 2.5rem;
}

.register-link, .login-link {
    color: #00525d;
    text-decoration: underline;
}

.register-link:hover, .login-link:hover {
    color: #00525d;
}

.form-wrapper {
    margin-bottom: 2rem;
    max-width: 65vh;
    max-height: 70vh;
}

.form-label {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: left;
}

.form-input {
    line-height: 1.2rem;
    font-size: 1.2rem;
}

.search-input:focus,
.input-field:focus {
    outline-color: #71B7C2;
}

.input-field {
    padding: .5rem;
    margin: .5rem 0;
    font-size: 1rem;
    width: 100%;
}

.form-section {
    margin: .8rem 1rem;
}

.sub {
    text-align: center;
    margin-bottom: 1rem;
}

.sub p a {
    font-size: 1.rem;
    font-weight: 600;
    color: #305D64;
}

.sub a:hover {
    color: var(--bs-body-bg);
}

.button {
    margin: 1rem;
    font-size: 1.2rem;
    border: .1rem solid #715072;
    border-radius: .6rem;
    padding: .4rem .8rem;
}

.submit-button {
    background-color: #eef0fa;
}

.cancel-button {
    background-color: #715072;
    color: var(--bs-body-bg);
    text-decoration: none;
}

form p {
    font-size: 1rem;
}

.awareness-content,
.content-border {
    border-width: 2px;
    border-style: solid;
    border-color: #eef0fa;
    padding: 20px;
}
.awareness-content .awareness-header-list {
    list-style-type: none;
    padding: 0.5;
}
.awareness-content a {
    color:#402342;
}
.awareness-content a:hover {
    color:#866c88;
}
.awareness-content h3 {
    padding: 10px;
    margin: 20px 0;
    background-color: #eef0fa;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.awareness-content h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.awareness-content p {
    text-indent: 20px;
}
.awareness-title {
    font-size: 2.5rem;
    text-align: center!important;
    margin-top: 10px;
}
.awareness-heading {
    font-family: 'Sacramento', sans-serif;
    text-align: center!important;
}
.awareness-disclaimer {
    padding-left: 40px;
    font-size: 0.9rem;
    font-style: italic;
    color: grey;
}

.signSymptomsList {
    list-style-type: none!important;
    letter-spacing: 0.5px;
    padding: 0.5%;
}

.awarenessNotices {
    font-style: italic!important;
    font-weight: bold;

}
.recipes-content {
    border-width: 2px;
    border-style: solid;
    border-color: #eef0fa;
    margin: 30px;
    padding: 20px;
}
.recipes-content .recipes {
    margin-bottom: 30px;
}
.recipes-content .recipes h4.recipe-heading a {
    font-size: 1.5rem;
}
.recipes-content .recipes .recipe-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.recipes-content a {
    color:#402342;
}
.recipes-content a:hover {
    color:#866c88;
}
.recipes-content h3 {
    padding: 10px;
    margin: 20px 0;
    background-color: #eef0fa;
}
.recipe-list-item {
    white-space: pre-wrap;
    list-style: none;
}
.recipe-image-wrapper {
    text-align: center
}

<<<<<<< HEAD
/* MEDIA QUERIES */


/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
    #welcome {
        display: flex;
        font-size: xx-large!important;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2rem;
    }


    .aware-img1 {
    margin-top: -10%;
    margin-bottom: 4%;
    padding: 5px;
    max-width: 50%;
    padding: 3%!important;
    /* text-align: center; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    }

    .p-index {
        padding: 2%;  
    }

    .recipes-content .recipes .recipe-image {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .input-field {
        padding: .5rem;
        margin: .5rem 0;
        font-size: 1rem;
        width: 100%;
    }
  }








=======
.link {
    color: #00525d;
    font-weight: 800;
    text-decoration: none;
}

.link:hover {
    color: #00525d;
    text-decoration: underline;
}

.recipes-content .recipes .recipe-detail-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
}
>>>>>>> 65113621d8d332461a1615d899b8e250d171f6e9
