@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Sacramento&display=swap');

main {
    font-family: 'Barlow', sans-serif;
    color: #402342;
}

/*Header styling*/

.navbar-brand a {
    font-family: 'Sacramento', cursive;
    font-size: 2.25rem;
    font-weight: 800;
    text-decoration: none;
    color: #402342;
}

.navbar-custom, footer {
    background-color: #eef0fc;
}

.navbar-nav a {
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: #715072;  
}

/*Footer styling*/

footer li {
    list-style-type: none;
    text-decoration: none;
    float: right;
    padding: 15px;
    text-decoration: none;
}

footer a {
    color: #715072;
    font-size: 1.25rem;
}

/*Gallery styling*/

.gallery-title {
    padding-top: 10px;
}

.gallery-column {
    max-width: 250px;
}

.gallery-column img {
    margin: 10px;
}