@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Sacramento&display=swap');

/*Navbar styling*/


main {
    font-family: 'Barlow', sans-serif;
}

/*Header styling*/

.navbar-brand a {
    font-family: 'Sacramento', cursive;
    font-size: 2.25rem;
    font-weight: 800;
    text-decoration: none;
    color: #402342;
}

.navbar-custom, footer {
    background-color: #eef0fc;
}

.navbar-nav a {
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: #715072;  
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: 0;
  height: 68vh!important;
}

/*Gallery styling*/

.gallery-column {
    max-width: 250px;
}

.gallery-column img {
    margin: 6px;
}