{% extends "base.html" %}
{% block content %}
<h1>AWARENESS</h1> <!-- After reviewing the content on HSE, this may need more than one page or navigation tabs for 1 page due 
    to extra content in HSE website on 'treatments, screening & self management -->
<h2>What is breast cancer?</h2> <!-- source:  https://www.cancer.ie/cancer-information-and-support/cancer-types/breast-cancer -->

<p>Breast cancer is when cells in your breast change and grow in an abnormal way. A group of these cancer cells can form a tumour.

Breast cancer is a common cancer in Ireland. More than 3,600 women and around 37 men are diagnosed with it each year. </p>
<br>

<p>
Stage and grade of breast cancer
Stage of breast cancer
When your breast cancer is diagnosed, the doctors will give it a stage. The stage describes the size of the cancer and how far it has spread and helps to predict the outlook.

Ductal carcinoma in situ (DCIS) is sometimes described as stage 0. Other stages of breast cancer describe invasive breast cancer:
<br>
stage is – the tumour is "in situ" and there's no evidence of invasion (pre-invasive)
<br>
stage 1 – the tumour measures less than 2cm and the lymph nodes in the armpit aren't affected; there are no signs that the cancer has spread elsewhere in the body 
<br>
stage 2 – the tumour measures 2-5cm, the lymph nodes in the armpit are affected, or both; there are no signs that the cancer has spread elsewhere in the body
<br>
stage 3 – the tumour measures 2-5cm and may be attached to structures in the breast, such as skin or surrounding tissues, and the lymph nodes in the armpit are affected; there 
are no signs that the cancer has spread elsewhere in the body
<br>
stage 4 – the tumour is of any size and the cancer has spread to other parts of the body (metastasis)</p>
<br>
<h2>Current statistics in Ireland:</h2> <!-- Source: from Breast Cancer Ireland - https://www.breastcancerireland.com/education-awareness/facts-and-figures/ -->

<p>-One in nine women will develop breast cancer in the course of their lifetime. 
<br>
-Incidence of male breast cancer is one in 1000.
<br>
-We have 3,700 new cases of breast cancer diagnosed each year.
<br>
-23% of women are diagnosed between the ages of 20-50 years.
<br>
-34% of women are diagnosed between the ages of 50-69 years.
<br>
-36% of women are diagnosed over the age of 70 years.
<br>
-Only 5%-10% of breast cancer cases are hereditary.</p>

{% endblock %}