{% extends "base.html" %}
{% block content %}
<h1>AWARENESS</h1>
<h2>What is breast cancer?</h2> <!-- source:  https://www.cancer.ie/cancer-information-and-support/cancer-types/breast-cancer -->

<p>Breast cancer is when cells in your breast change and grow in an abnormal way. A group of these cancer cells can form a tumour.

Breast cancer is a common cancer in Ireland. More than 3,600 women and around 37 men are diagnosed with it each year. </p>
<br>
<h2>Symptoms, diagnosis and prevention</h2> <!-- Source : from HSE, -https://www2.hse.ie/conditions/breast-cancer-women/ -->
<h3>Breast cancer in women</h3>
Contents
Symptoms, diagnosis and prevention
Screening
Treatment
Self-management
Breast cancer is the most common type of cancer in women in Ireland (excluding skin cancer). Most women diagnosed with breast cancer are over 50, but younger women can also 
get breast cancer.

About 1 in 8 women are diagnosed with breast cancer during their lifetime. There's a good chance of recovery if it is detected in its early stages.

It is recommended that women check their breasts regularly for any changes and always get any changes examined by their GP.

Symptoms
The most important symptom of breast cancer is a breast lump, which is usually painless.

Most breast lumps (90%) aren't cancerous, but it's always best to have them checked by your doctor.

Urgent advice:You should see your GP if you notice:
a new lump or area of thickened tissue in either breast that was not there before
a change in the size or shape of one or both breasts
bloodstained discharge from either of your nipples
a lump or swelling in either of your armpits
dimpling on the skin of your breasts
a rash on or around your nipple
a change in the appearance of your nipple, such as becoming sunken into your breast
Breast pain is not usually a symptom of breast cancer.

Read more about breast pain

Causes
The causes of breast cancer are not fully understood, making it difficult to say why one woman may develop breast cancer and another may not.

There are risk factors known to affect your likelihood of developing breast cancer. Some of these you can't do anything about, but there are some you can change.

Age
The risk of developing breast cancer increases with age. The condition is most common among women over 50 who have been through the menopause. About 8 out of 10 cases of breast 
cancer cases occur in women over 50.

All women who are 50 to 69 years of age should be screened for breast cancer every two years as part of the Breast Screening Programme - BreastCheck.

Previous breast cancer or lump
You have a higher risk of developing breast cancer again if you've previously had breast cancer. The risk is also higher if you've had early non-invasive cancer cell changes in 
breast ducts. This could have been either in your other breast or in the same breast.

A benign breast lump doesn't mean you have breast cancer.

Certain changes in your breast tissue, such as cells growing abnormally in ducts (atypical ductal hyperplasia), or abnormal cells inside your breast lobules (lobular carcinoma in situ), 
can make getting breast cancer more likely.

Hormones and hormone medicine
Hormone replacement therapy (HRT)
Hormone replacement therapy (HRT) is associated with an increased risk of developing breast cancer. However, the risk is a very low one.

Contraceptive pill
Women who use the contraceptive pill have a slightly increased risk of developing breast cancer. The risk starts to decrease once you stop taking the pill. Your risk of breast 
cancer is back to normal 10 years after stopping.

Lifestyle factors
Alcohol
Alcohol is responsible for 1 in 8 breast cancers in Ireland

Your risk of developing breast cancer increases with the amount of alcohol you drink.

Alcohol can also increase the levels of some hormones, such as oestrogen, which can increase the risk of breast cancer.

Being overweight or obese
If you've experienced the menopause and are overweight or obese, you may be more at risk of developing breast cancer.

This is thought to be linked to the amount of oestrogen in your body. Being overweight or obese after the menopause causes more oestrogen to be produced.

Radiation
Significant radiation exposure in the past may increase your risk of developing breast cancer. For example, some patients with Hodgkin's Lymphoma who received mantle radiation to 
the chest area

Prevention
As the causes of breast cancer aren't fully understood, it's not known if it can be prevented altogether.

Some treatments are available to reduce the risk in women who have a higher risk of developing the condition than the general population. 

Diet and lifestyle
Regular exercise and a healthy, balanced diet are recommended for all women. These can help prevent many conditions, including heart disease, diabetes and many forms of cancer.

Studies have looked at the link between breast cancer and diet. Although there are no definite conclusions, there are benefits for women who:

maintain a healthy weight
exercise regularly
have a low intake of saturated fat and alcohol
It's also been suggested that regular exercise can reduce your risk of developing breast cancer.

If you've been through the menopause, it's particularly important that you're not overweight or obese. This is because these conditions cause more oestrogen to be produced by your 
body. This can increase the risk of breast cancer.

Breastfeeding
Studies have shown women who breastfeed are statistically less likely to develop breast cancer than those who don't.

The reasons aren't fully understood. It could be because women don't ovulate as regularly while they're breastfeeding and oestrogen levels remain stable.

Treatments to reduce your risk
If you have a greatly increased risk of developing breast cancer, for example, a BRCA gene carrier, treatment might be available to reduce your risk. This applies to a very small 
minority of women.

Your level of risk is determined by factors such as your age, your family's medical history, and the results of genetic tests.

You will usually be referred to a specialist genetics service if it's thought you have a significantly increased risk of breast cancer. Healthcare professionals working at these 
services might discuss treatment options with you.

The 2 main treatments are surgery to remove the breasts (mastectomy) or medication. These are described in more detail below.

Mastectomy
A mastectomy is surgery to remove the breast. It can be used to treat breast cancer and can reduce the chances of developing the condition in the small number of women from very high-risk 
families.

By removing as much breast tissue as possible, a mastectomy can reduce your risk of breast cancer by up to 95%. However, a mastectomy does not reduce the risk of developing breast cancer 
down to zero. It is not possible to remove every single breast cell at the time of a mastectomy.

However, like all operations, there is a risk of complications, and having your breasts removed can have a significant effect on your body image and sexual relationships.

If you want to, you can usually choose to have a breast reconstruction either during the mastectomy operation or at a later date.

During breast reconstruction surgery, your breast shape is recreated using either breast implants or tissue from elsewhere in your body.

An alternative is to use breast prostheses. These are artificial breasts that can be worn inside your bra.

An alternative to mastectomy is a nipple-sparing mastectomy, where the whole mammary gland is removed, but the skin envelope is preserved. This procedure may not be suitable 
for all women. Your surgeon can discuss this with you.

Diagnosis
You may be diagnosed with breast cancer after routine breast screening, or you may have symptoms that you've seen your GP about.

Seeing your GP
See your GP as soon as possible if you notice any symptoms of breast cancer. This could be an unusual lump in your breast or any change in the appearance, feel or shape of your breasts.

Your GP will examine you. If they think your symptoms need further assessment, they'll refer you to a specialist breast cancer clinic.

Tests at the breast cancer clinic
If you have suspected breast cancer you'll be referred to a specialist breast cancer clinic for further tests. This referral will be because of your symptoms or because your 
mammogram has shown an abnormality,

Mammogram and breast ultrasound
If you have symptoms and have been referred to a specialist breast unit by your GP, you'll probably be invited to have a mammogram if you are over 35 years old. This is an X-ray 
of your breasts. You may also need an ultrasound scan.

If your cancer was detected through the BreastCheck screening programme, you may need another mammogram or ultrasound scan.

Ultrasound uses high-frequency sound waves to produce an image of the inside of your breasts. It helps to determine the nature of a lump or of the abnormality. It may be needed 
to find out if a lump in your breast is solid or contains liquid.

Your breasts are made up of thousands of tiny glands (lobules) that produce milk. This glandular tissue contains a higher concentration of breast cells than other breast tissue, 
making it denser.

Dense breast tissue can make a mammogram difficult to read. Lumps or areas of abnormal tissue are harder to spot.

Younger women tend to have denser breasts. This is why mammography is not routinely performed in women under 35 years. As you get older, the amount of glandular tissue in your 
breasts decreases and is replaced by fat. This means your breasts become less dense.

Read more about breast screening

Biopsy
A biopsy is where a sample of tissue cells is taken from your breast and tested to see if it's cancerous.

You may also need a scan and a needle test on lymph nodes in your armpit (axilla) to see if these are also affected.

Biopsies can be taken in different ways, and the type you have will depend on what your doctor knows about your condition.

Needle biopsy is the most common type of biopsy. A small sample of tissue is taken from a lump in your breast using the ultrasound machine to help the doctor to sample the correct part.

You'll have a local anaesthetic. You'll be awake during the procedure, but your breast will be numb.

Your doctor may suggest that you have a mammogram guided needle biopsy. This is called a stereotactic biopsy. This is usually guided by a mammogram to obtain a more precise and 
reliable diagnosis of cancer.

This also can distinguish it from any non-invasive change, particularly ductal carcinoma in situ (DCIS).

Further tests for breast cancer
If a diagnosis of breast cancer is confirmed, more tests may be needed to determine the stage of the cancer.

Scans and X-rays
Computerised tomography (CT) scans or chest X-ray ultrasound scans of abdomen and bone may be needed to check if cancer has spread outside of the breast area. Your doctor will 
discuss with you if these are needed.

An MRI scan of the breast may be needed to clarify the results. It may be also used to assess the extent of the condition within the breast.

Stage and grade of breast cancer
Stage of breast cancer
When your breast cancer is diagnosed, the doctors will give it a stage. The stage describes the size of the cancer and how far it has spread and helps to predict the outlook.

Ductal carcinoma in situ (DCIS) is sometimes described as stage 0. Other stages of breast cancer describe invasive breast cancer:

stage is – the tumour is "in situ" and there's no evidence of invasion (pre-invasive)
stage 1 – the tumour measures less than 2cm and the lymph nodes in the armpit aren't affected; there are no signs that the cancer has spread elsewhere in the body
stage 2 – the tumour measures 2-5cm, the lymph nodes in the armpit are affected, or both; there are no signs that the cancer has spread elsewhere in the body
stage 3 – the tumour measures 2-5cm and may be attached to structures in the breast, such as skin or surrounding tissues, and the lymph nodes in the armpit are affected; there 
are no signs that the cancer has spread elsewhere in the body
stage 4 – the tumour is of any size and the cancer has spread to other parts of the body (metastasis)
    ------------------------------------------------------------------------------------------------------------
    
    Current statistics in Ireland: # Source: from Breast Cancer Ireland - https://www.breastcancerireland.com/education-awareness/facts-and-figures/
    
    -One in nine women will develop breast cancer in the course of their lifetime.
    -Incidence of male breast cancer is one in 1000.
    -We have 3,700 new cases of breast cancer diagnosed each year.
    -23% of women are diagnosed between the ages of 20-50 years.
    -34% of women are diagnosed between the ages of 50-69 years.
    -36% of women are diagnosed over the age of 70 years.
    -Only 5%-10% of breast cancer cases are hereditary.</p>

{% endblock %}