{% extends "base.html" %}
{% block content %}

<h2 id="awareness-header">Awareness</h2>

<ul>
    <li>
        <a href="#what-is-breast-cancer">What is Breast Cancer?</a>
    </li>
    <li>
        <a href="#signs-and-symptoms">Signs and Symptoms</a>
    </li>
    <li>
        <a href="#diagnosis">Diagnosis</a>
    </li>
    <li>
        <a href="#treatment">Treatment</a>
    </li>
</ul>

<h3 id="what-is-breast-cancer">What is Breast Cancer?</h3>

<h4>What is Cancer?</h4>
<p>
    Cancer is a broad term for a class of diseases characterized by abnormal cells that grow and invade  healthy cells in the body.  Breast cancer starts in the cells of the breast as a group of cancer cells that can then invade surrounding tissues or spread (metastasize) to other areas of the body.
</p>

<h4>What Causes Cancer to Develop</h4>
<p>
    Cancer begins in the cells which are the basic building blocks that make up tissue. Tissue is found in the breast 
    and other parts of the body.  Sometimes, the process of cell growth goes wrong and new cells form when the body doesn’t need them and old or damaged cells do not die as they should.  When this occurs, a build up of cells often forms a mass of tissue called a lump, growth, or tumor. 
</p>
<p>
    Breast cancer occurs when malignant tumors develop in the breast.  These cells can spread by breaking away from the original tumor and entering blood vessels or lymph vessels, which branch into tissues throughout the body. When cancer cells travel to other parts of the body and begin damaging other tissues and organs, the process is called metastasis.
</p>

<h4>Known Risk Factors</h4>
<p>
    Women with certain risk factors are more likely than others to develop breast cancer. A risk factor is something that may increase the chance of getting a disease. Some risk factors (such as drinking alcohol) can be avoided. But most risk factors (such as having a family history of breast cancer) can’t be avoided. Having a risk factor does not mean that a woman will get breast cancer. Many women who have risk factors never develop breast cancer. 
</p>
<p>
    <a href="#awareness-header">Back to top</a>
</p>

<h3 id="signs-and-symptoms">Signs and Symptoms</h3>

<h4>What Are the Symptoms and Signs of Breast Cancer?</h4>
<p>
    Every person should know the symptoms and signs of breast cancer, and any time an abnormality is discovered, it should be investigated by a healthcare professional.    

    Most people who have breast cancer symptoms and signs will initially notice only one or two, and the presence of these symptoms and signs do not automatically mean that you have breast cancer.

    By performing monthly breast self-exams, you will be able to more easily identify any changes in your breast.  Be sure to talk to your healthcare professional if you notice anything unusual.
</p>

<h4>A Change In The Breast Or Nipple Appearance</h4>
<p>
    <ul>
        <li>Any unexplained change in the size or shape of the breast</li>
        <li>Dimpling anywhere on the breast</li>
        <li>Unexplained swelling of the breast (especially if on one side only)</li>
        <li>Unexplained shrinkage of the breast (especially if on one side only)</li>
        <li>Recent asymmetry (unequal or lack of sameness) of the breasts. Although it is common for women to have one breast that is slightly larger than the other, if the onset of asymmetry is recent, it should be checked</li>
        <li>Nipple that is turned slightly inward or inverted</li>
        <li>Skin of the breast, areola, or nipple that becomes scaly, red, or swollen or may have ridges or pitting resembling the skin of an orange</li>
    </ul>
</p>

<h4>Any Nipple Discharge — Particularly Clear Discharge Or Bloody Discharge</h4>
<p>
    It is also important to note that a milky discharge that is present when a woman is not breastfeeding should be checked by her doctor, although it is not linked with breast cancer. Let your doctor know about any nipple discharge, clear, bloody or milky. The most concerning discharges are bloody or clear.    
</p>
<p>
    <a href="#awareness-header">Back to top</a>
</p>

<h3 id="diagnosis">Diagnosis</h3>
<p>
    Integer lacus nunc, pellentesque ut ante at, hendrerit viverra velit. Sed ac nulla ante. Vestibulum sagittis metus non ullamcorper dapibus. Suspendisse in auctor elit. Pellentesque purus mauris, congue ac dui a, egestas pharetra dui. Praesent vestibulum turpis quam, eget rutrum purus pellentesque ut. Donec faucibus nisi a sapien finibus sodales nec scelerisque lectus. Donec dictum ligula dolor, ac ultrices orci suscipit sit amet. Cras sed aliquam sapien. Proin tellus elit, sodales eu nibh ac, vestibulum semper neque. Morbi maximus sapien eget diam tincidunt, non aliquam augue egestas. Integer ac orci ac risus efficitur commodo at at elit. Pellentesque consectetur eros nec justo vestibulum, imperdiet imperdiet nibh maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed cursus faucibus maximus.
</p>
<p>
    <a href="#awareness-header">Back to top</a>
</p>

<h3 id="treatment">Treatment</h3>
<p>
    Pellentesque sit amet leo viverra, vulputate nulla at, sodales quam. Mauris bibendum tincidunt mauris suscipit porttitor. Sed ac consequat leo. Fusce nec consectetur dui. Maecenas tincidunt mollis risus, vitae rhoncus nibh suscipit in. Sed porttitor, dolor in rutrum pretium, eros ante hendrerit nunc, quis tempus odio massa et velit. Vivamus eget commodo velit. Mauris ut velit non sapien laoreet placerat ut ac dui. Vivamus non metus finibus, eleifend dui in, varius libero. Etiam ante arcu, aliquet ut ornare nec, commodo a quam. Nulla facilisi. Duis vel maximus ipsum. Mauris eu libero et quam venenatis efficitur nec vel odio. Praesent varius, orci sed auctor sodales, lacus velit rhoncus elit, nec faucibus massa velit eleifend risus. Maecenas eleifend, mi vitae luctus gravida, sapien erat finibus ipsum, eget tempor tellus lorem nec purus.
</p>
<p>
    <a href="#awareness-header">Back to top</a>
</p>


<h1>AWARENESS</h1>
<!-- After reviewing the content on HSE, this may need more than one page or navigation tabs for 1 page due to extra content in HSE website on 'treatments, screening & self management -->
<h2>What is breast cancer?</h2>
<!-- source:  https://www.cancer.ie/cancer-information-and-support/cancer-types/breast-cancer -->
<p>
    Breast cancer is when cells in your breast change and grow in an abnormal way. A group
    of these cancer cells can form a tumour. Breast cancer is a common cancer in Ireland.
    More than 3,600 women and around 37 men are diagnosed with it each year.
</p>

<br>
<h2>Current statistics in Ireland:</h2>
<!-- Source: from Breast Cancer Ireland - https://www.breastcancerireland.com/education-awareness/facts-and-figures/ -->



{% endblock %}