{% extends "base.html" %}
{% block content %}

<!-- Code for gallery from https://www.tutorialstonight.com/bootstrap-image-gallery.php -->

<div class="container-fluid">
    <h1 class="text-center">Bake Gallery</h1>
    <div class="d-flex flex-wrap justify-content-center">
        <div class="d-flex flex-column">
            <img class="img-fluid" src="#">
            <img class="img-fluid" src="#">
        </div>

        <div class="d-flex flex-column">
            <img class="img-fluid" src="#">
            <img class="img-fluid" src="#">
        </div>

        <div class="d-flex flex-column">
            <img class="img-fluid" src="#">
            <img class="img-fluid" src="#">
        </div>
        
    </div>
</div>

{% endblock %}