{% extends "base.html" %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
</head>
<body>

<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="/static/images/2.jpeg" alt="Chania" width="560" height="345">
        <div class="carousel-caption">
          <h1>Stay A Breast</h1>
          <h3>Early Detection is Key</h3>
        </div>
      </div>

      <div class="item">
        <img src="/static/images/4.jpg" alt="Chania" width="560" height="345">
        <div class="carousel-caption">
          <h1>Stay A Breast</h1>
          <h3>Discuss while baking with friends & family</h3>
        </div>
      </div>
    
      <div class="item">
        <img src="/static/images/3.jpeg" alt="Flower" width="460" height="345">
        <div class="carousel-caption">
          <h1>Stay A Breast</h1>
          <h3>Share your experiences</h3>
        </div>
      </div>

      <div class="item">
        <img src="/static/images/5.jpg" alt="Flower" width="460" height="345">
        <div class="carousel-caption">
          <h1>Stay A Breast</h1>
          <h3>Learn from Survivors</h3>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls --> <!--
    <a class="left carousel-control" href="/static/images/4.jpg" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="/static/images/5.jpg" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>  -->
  </div>
</div>
<div>
  <h1>What is Breast Cancer?</h1>
  <h4>Breast cancer is when cells in your breast change and grow in an abnormal way. A group of these cancer cells can form a tumour.

    Breast cancer is a common cancer in Ireland. More than 3,600 women and around 37 men are diagnosed with it each year. </h4>
    <br>
    <div class="aware-img1">
      <img src="/static/images/1.jpeg" alt="Awareness image">
    </div>
  <h1>Early Detection is Key</h1>
  <h4>The most important screening test for breast cancer is the mammogram. A mammogram is like an X-ray of the breast. 
    It can detect breast cancer up to two years before the tumor can be felt by you or your doctor. Informed decision making 
    starting at age 40.</h4>


{% endblock %}
