{% extends "base.html" %}

{% block content %}
<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
</head>
<body> -->

<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">        <!--  Photo by Klaus Nielsen from Pexels -->
      <img src="/static/images/2.jpeg" class="d-block w-100" alt="Dr & Cancer patient spreading awareness">
      <div class="carousel-caption d-none d-md-block">
        <h1>Stay A Breast</h1>
        <h3>Early Detection is Key</h3>
      </div>
    </div>
    <div class="carousel-item">   <!--  Photo by Katerina Holmes from Pexels -->
      <img src="/static/images/4.jpg" class="d-block w-100" alt="Baking happily with family">
      <div class="carousel-caption d-none d-md-block">
        <h1>Stay A Breast</h1>
        <h3>Discuss while baking with friends & family</h3>
      </div>
    </div>
     <div class="carousel-item">    <!--Photo by olia danilevich from Pexels.com -->
      <img src="/static/images/3.jpeg" class="d-block w-100" alt="Family sharing the joy of baking">
      <div class="carousel-caption d-none d-md-block">
        <h1>Stay A Breast</h1>
        <h3>Share your experiences</h3>
      </div>
    </div>
    <div class="carousel-item"> <!-- Sourced image from pixabay.com -->
      <img src="/static/images/5.jpg" class="d-block w-100" alt="Hands reaching out to connect with other breast cancer survivors">
      <div class="carousel-caption d-none d-md-block">
        <h1>Stay A Breast</h1>
        <h3>Learn from Survivors</h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <!-- <div class="row"> -->
    <div class="col-sm-6">
      <!-- <div class="row"> -->
        <!-- <div class="col col-9"> -->
          <h1>What is Breast Cancer?</h1>
          <h4>Breast cancer is when cells in your breast change and grow in an abnormal way. A group of these cancer cells can form a tumour.
            Breast cancer is a common cancer in Ireland. More than 3,600 women and around 37 men are diagnosed with it each year. </h4><br>
        </div>
        <div class="col offset-md-6">
          <img src="/static/images/1.jpeg" class="aware-img1" alt="Awareness image">
        </div>
        <div class="w-100"></div>
        <div class="col col-6">
          <h1>Early Detection is Key</h1>
           <h4>The most important screening test for breast cancer is the mammogram. A mammogram is like an X-ray of the breast. 
                 It can detect breast cancer up to two years before the tumor can be felt by you or your doctor. Informed decision making 
                 starting at age 40.</h4>
        </div>
        <div class="w-100"></div>
        <div class="col col-6">
          <!-- <div class="row"> -->
              <h1>Learn from Survivors & Share your experiences</h1>
              <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus maxime repellendus soluta perferendis inventore 
               modi asperiores quia a doloremque nisi! Obcaecati, sapiente dicta alias magni tenetur enim eligendi voluptas aliquam!</h4>
            </div>
            <div class="w-100"></div>
      </div>
    </div>
  </div>
</div>
{% for recipe in recipes %}
    {{ recipe.recipe_name }}
    {{ recipe.recipe_description }}
{% endfor %}


{% endblock %}
