{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Page Heading -->
                <h2 class="page-heading heading capitalize">{{ recipe.recipe_name }}</h2>
            </div>
        </div>
        <!-- Recipe image -->
        <div class="recipes-content">
            <div class="recipes">
                <div class="recipe-image-wrapper">
                    <img src="{{ recipe.recipe_url }}" class="recipe-detail-image" alt="{{ recipe.recipe_name }}">
                </div>
            
            <!-- Recipe description -->
            <div class="row">
                <div class="col">
                    <p class="description">{{ recipe.recipe_description }}
                    </p>
                </div>
            </div>
            <!-- Recipe ingredients -->
            <div class="row">
                <div class="col">
                    <h3 class="recipe-sub-heading heading">Ingredients</h3>
                </div>
            </div>
            <div class="row">
                <div class="col recipe-list">
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                            <li class="recipe-list-item">{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Recipe method -->
            <div class="row">
                <div class="col">
                    <h3 class="recipe-sub-heading heading">Method</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul>
                    {% for meth in recipe.method %}
                        <li class="recipe-list-item">{{ meth }}</li>
                    {% endfor %}
                    </ul>  
                </div>
            </div>
            <!-- Recipe added by -->
            <div class="row">
                <div class="col">
                    <div class="recipe-added-by">Added by: {{ recipe.added_by }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        

{% endblock %}